nav {
  background-color: #151e3f;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
nav ul li {
  flex-grow: 1;
}
nav ul li a {
  transition: all 0.5s, ease;
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  display: block;
  text-align: center;
  background-color: #1d2955;
}
nav ul li a:hover {
  background-color: rgb(40, 58, 122);
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}
nav ul li a.activo {
  background-color: #4c76a5;
}
.limite-nav {
  max-width: 900px;
}
