.bienvenidos{
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
    color: aliceblue;
}
.testimonios{
    width: 25%;
    color: white;
 

}

#avion{
    border-radius: 10px;
    max-width: 95%;
}
.columnas{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px;

}

.columnas >*:nth-child(1){
    flex: 1 1 70%;
}
.columnas >*:nth-child(2){
    flex: 1 1 30%;
}

.bienvenidos p{
    font-size: 20px;
    color: #C8EAFF;
}
.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    padding: 15px 5px;
    font-size: 20px;
    background-color: #638A06;
    display: flex;
    border-radius: 4px;
    justify-content: center;

    
}
.testimonio .cita:hover{
    box-shadow: 0 0.1rem 0.4rem 5px rgba(255, 255, 255, 0.3) ;
    
}
.testimonio .autor{
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    color: #2e64a1;
    text-align: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    height: 2rem;
    margin: 12px 0;
    text-align: center;
    padding-top: 0.4rem;
}
.testimonios h2{
    margin-bottom: 15px;
}


@media (max-width:480px){
    .columnas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .testimonios{
        text-align: center;
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 5px 20px 5px 20px;
        gap: 1rem;
    
    }
    .testimonio .autor{
        margin: 5px 0;
        height: 25px;
        text-align: center;
        justify-content: center;
    }
    .testimonio > *{
        display: flex;
        justify-content: center;
        text-transform: capitalize;
    }
    
}
